header {
    background: beige;
    padding: 0;
    border-bottom: 1px solid #e72929;
  }
  
  .header a {
    color: black;
  }
  
  .header a:hover {
    background: rgb(237, 237, 193);
    color: black;
    cursor: pointer;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    padding: 1rem;
  }
  
  .header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  .header ul a {
    padding: 1rem;
    display: inline-block;
  }
  
  .menu_container {
    position: relative;
  }
  
  .menu {
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    display: none;
  }
  
  .menu_container:hover .menu {
    display: block;
  }
  
  .menu a {
    width: 100%;
    min-width: 8rem;
  }
  
  .cart_count {
    background-color: rgb(244, 244, 160);
    color: black;
    padding: 0.2rem 0.5rem;
    border-radius: 100rem;
    font-size: 1rem;
  }